/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* BODY */
body {
    background: #0b0b0b;
    color: white;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: black;
}

header h1 {
    color: #00c3ff;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

nav a:hover {
    color: #00c3ff;
}

/* HERO */
.hero {
    text-align: center;
    padding: 120px 20px;
    background: linear-gradient(to right, #000000, #111111);
}

.hero h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.hero p {
    margin-bottom: 20px;
    color: #ccc;
}

.hero button {
    padding: 12px 25px;
    border: none;
    background: #00c3ff;
    color: black;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.hero button:hover {
    background: #0099cc;
}

/* CONTACT */
.contact {
    padding: 60px 20px;
    text-align: center;
    background: #111;
}

.contact h2 {
    margin-bottom: 30px;
    font-size: 28px;
}

.contact-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
    gap: 15px;
    font-size: 18px;
}

.contact-item span {
    font-size: 24px;
    color: #00c3ff;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: black;
    color: #777;
}
